{% extends "layout.html" %}
{% block body %}

    {% if session.logged_in %}
        <form action="{{ url_for('show_links') }}" method="post" class=add-entry>
            <input type="submit" name="action" value="Show Doctors"/>
            <input type="submit" name="action" value="Show Doctors taking care of patients..."/>
            <input type="submit" name="action" value="Show Doctors Assisted by which Nurses"/>
            <input type="submit" name="action" value="Show Patients"/>
            <input type="submit" name="action" value="Show Patients Receiving Blood from which Blood Bank"/>
            <input type="submit" name="action" value="Show Patients Who Needs Blood"/>
            <input type="submit" name="action" value="Show Donors" />
            <input type="submit" name="action" value="Show Donor File" />
            <input type="submit" name="action" value="Show Blood Banks" />
            <input type="submit" name="action" value="Show Blood Transferred" />
            <input type="submit" name="action" value="Show Blood Bank Inventory" />
            <input type="submit" name="action" value="Show Nurses" />
            <input type="submit" name="action" value="Show Nurses Taking Care of Which Patients..." />
            <input type="submit" name="action" value="Show Nurses with Supervisor" />
            <input type="submit" name="action" value="Show Accounts" />
            <input type="submit" name="action" value="Show Notifications" />
        </form>

        {% if chosen %}
            <!-- Add Forms -->
            <form action="{{ url_for('add_form') }}" method="post" class=add-entry>
                {% if chosen == "patients" %}
                    <h2>Add Patient</h2>
                    <div id="deleteForm">
                        <ul>
                            <li>
                                Patient ID:
                                <input type=text size=30 name=p_id>
                            </li>
                            <li>
                                First Name:
                                <input type=text size=30 name=p_fname>
                            </li>
                            <li>
                                Last Name:
                                <input type=text size=30 name=p_lname>
                            </li>
                            <li>
                                Blood Type:
                                <input type=text size=30 name=blood_type>
                            </li>
                            <li>
                                <input type="submit" name="addForm" value="Add Patient" />
                            </li>
                        </ul>
                    </div>
                {% elif chosen == "patientsWhoNeedBlood" %}
                    <h2>Get Blood for Patients</h2>
                    <div id="deleteForm">
                        <ul>
                            <li>
                                Patient's First Name:
                                <input type=text size=30 name=patient_fname>
                            </li>
                            <li>
                                Patient's Last Name:
                                <input type=text size=30 name=patient_lname>
                            </li>
                            <li>
                                Blood Type:
                                <input type=text size=30 name=blood_type>
                            </li>
                            <li>
                                Blood Pack Count Required:
                                <input type=text size=30 name=blood_pack_cnt>
                            </li>
                            <li>
                                <input type="submit" name="addForm" value="Get Blood Packs for Patient" />
                            </li>
                        </ul>
                    </div>
                {% elif chosen == "doctors" %}
                    <h2>Add Doctor</h2>
                    <div id="deleteForm">
                        <ul>
                            <li>
                                Doctor ID:
                                <input type=text size=30 name=d_id>
                            </li>
                            <li>
                                Doctor First Name:
                                <input type=text size=30 name=d_fname>
                            </li>
                            <li>
                                Doctor Last Name:
                                <input type=text size=30 name=d_lname>
                            </li>
                           
                            <li>
                                <input type="submit" name="addForm" value="Add Doctor" />
                            </li>
                        </ul>
                    </div>
                {% elif chosen == "notifications" %}
                    <h2>Add Notifications</h2>
                    <div id="deleteForm">
                        <ul>
                            <li>
                                Notification ID:
                                <input type=text size=30 name=not_id>
                            <li>
                                Message:
                                <input type=text size=50 name=message>
                            </li>
                                Send to Which Role:
                                <input type=text size=30 name=u_role>
                            </li>
                           
                            <li>
                                <input type="submit" name="addForm" value="Add Notifications" />
                            </li>
                        </ul>
                    </div>
                {% elif chosen == "supervisedNurses" %}
                    <h2>Add Supervisor</h2>
                    <div id="deleteForm">
                        <ul>
                            <li>
                                Supervisor ID:
                                <input type=text size=30 name=supervisor_id>
                            </li>
                            <li>
                                Super First Name:
                                <input type=text size=30 name=super_fname>
                            </li>
                            <li>
                                Super Last Name:
                                <input type=text size=30 name=super_lname>
                            </li>
                            <li>
                                Supervised ID:
                                <input type=text size=30 name=supervised_id>
                            </li>
                            <li>
                                Supervised First Name:
                                <input type=text size=30 name=ised_fname>
                            </li>
                            <li>
                                Supervised Last Name:
                                <input type=text size=30 name=ised_lname>
                            </li>
                            <li>
                            <li>
                                <input type="submit" name="addForm" value="Add Supervisor" />
                            </li>
                        </ul>
                    </div>
				{% elif chosen == "nurses" %}
                    <h2>Add Nurse</h2>
                    <div id="deleteForm">
                        <ul>
                            <li>
                                Nurse ID:
                                <input type=text size=30 name=n_id>
                            </li>
                            <li>
                                Nurse First Name:
                                <input type=text size=30 name=n_fname>
                            </li>
                            <li>
                                Nurse Last Name:
                                <input type=text size=30 name=n_lname>
                            </li>
                           
                            <li>
                                <input type="submit" name="addForm" value="Add Nurse" />
                            </li>
                        </ul>
                    </div>
				{% elif chosen == "accounts" %}
                    <h2>Add Account</h2>
                    <div id="deleteForm">
                        <ul>
                            <li>
                                Account ID:
                                <input type=text size=30 name=id>
                            </li>
                            <li>
                                Username:
                                <input type=text size=30 name=usrName>
                            </li>
                            <li>
                                Password:
                                <input type=text size=30 name=psswd>
                            </li>
							
                           <li>
                                Role:
                                <input type=text size=30 name=userRole>
                            </li>
                           
                            <li>
                                <input type="submit" name="addForm" value="Add Account" />
                            </li>
                        </ul>
                    </div>
                {% elif chosen == "nursesTakingCareOf" %}
                    <h2>Add Nurse-Patient Relation</h2>
                    <div id="deleteForm">
                        <ul>
                            <li>
                                Nurse ID:
                                <input type=text size=30 name=nurse_id>
                            </li>
                            <li>
                                Patient ID:
                                <input type=text size=30 name=patient_id>
                            </li>
                      
                            <li>
                                <input type="submit" name="addForm" value="Add Nurse-Patient Relation" />
                            </li>
                        </ul>
                    </div> 
                {% elif chosen == "doctorsTakesCareOf" %}
                    <h2>Add Doctor-Patient Relation</h2>
                    <div id="deleteForm">
                        <ul>
                            <li>
                                Doctor ID:
                                <input type=text size=30 name=doctor_id>
                            </li>
                            <li>
                                Patient ID:
                                <input type=text size=30 name=patient_id>
                            </li>
                            <li>
                                <input type="submit" name="addForm" value="Add Doctor-Patient Relation" />
                            </li>
                        </ul>
                    </div>
                {% elif chosen == "doctorsAssistedBy" %}
                    <h2>Add Doctor-Nurse Relation</h2>
                    <div id="deleteForm">
                        <ul>
                            <li>
                                Doctor ID:
                                <input type=text size=30 name=doctor_id>
                            </li>
                            <li>
                                Nurse ID:
                                <input type=text size=30 name=nurse_id>
                            </li>
                            <li>
                                <input type="submit" name="addForm" value="Add Doctor-Nurse Relation" />
                            </li>
                        </ul>
                    </div>
                {% elif chosen == "donors" %}
                    <h2>Add Donor</h2>
                    <div id="deleteForm">
                        <ul>
                            <li>
                                Donor ID:
                                <input type=text size=30 name=d_id>
                            </li>
                            <li>
                                Donor First Name:
                                <input type=text size=30 name=d_fname>
                            </li>
                            <li>
                                Donor Last Name:
                                <input type=text size=30 name=d_lname>
                            </li>
                            <li>
                                <input type="submit" name="addForm" value="Add Donor" />
                            </li>
                        </ul>
                    </div>
                {% elif chosen == "bloodBank" %}
                    <h2>Add Blood Bank</h2>
                    <div id="deleteForm">
                        <ul>
                            <li>
                                Blood Bank Name:
                                <input type=text size=30 name=bb_name>
                            </li>
                            <li>
                                Blood Bank ID:
                                <input type=text size=30 name=bb_id>
                            </li>
                            <li>
                                Blood Bank Location:
                                <input type=text size=30 name=bb_location>
                            </li>
                            <li>
                                <input type="submit" name="addForm" value="Add Blood Bank" />
                            </li>
                        </ul>
                    </div>
                
                {% elif chosen == "donorFile" %}
                    <h2>Get Blood from Donor</h2>
                    <div id="deleteForm">
                        <ul>
                            <li>
                                Donor's First Name:
                                <input type=text size=30 name=donor_fname>
                            </li>
                            <li>
                                Donor's Last Name:
                                <input type=text size=30 name=donor_lname>
                            </li>
                            <li>
                                Healthy or Unhealthy?:
                                <input type=text size=30 name=condition>
                            </li>
                            <li>
                                Blood Amount(ml) Donated:
                                <input type=text size=30 name=blood_amt>
                            </li>
                            <li>
                                Donating to which Blood Bank?:
                                <input type=text size=30 name=bb_name>
                            </li>
                            <li>
                                <input type="submit" name="addForm" value="Get Blood from Donor" />
                            </li>
                        </ul>
                    </div>
                {% endif %}
            </form>

            <!-- Delete Forms -->
            <form action="{{ url_for('delete_data') }}" method="post" class=add-entry>
                {% if chosen == "patients" %}
                    <h2>Delete Patient</h2>
                    <div id="deleteForm">
                        <ul>
                            <li>
                                Patient ID:
                                <input type=text size=30 name=p_id>
                            </li>
                            <li>
                                First Name:
                                <input type=text size=30 name=p_fname>
                            </li>
                            <li>
                                Last Name:
                                <input type=text size=30 name=p_lname>
                            </li>
                            <li>
                                Blood Type:
                                <input type=text size=30 name=blood_type>
                            </li>
                            <li>
                                <input type="submit" name="action" value="Delete Patient" />
                            </li>
                        </ul>
                    </div>
                {% elif chosen == "doctors" %}
                    <h2>Delete Doctor</h2>
                    <div id="deleteForm">
                        <ul>
                            <li>
                                Doctor ID:
                                <input type=text size=30 name=d_id>
                            </li>
                            <li>
                                Doctor First Name:
                                <input type=text size=30 name=d_fname>
                            </li>
                            <li>
                               Doctor Last Name:
                                <input type=text size=30 name=d_lname>
                            </li>
                           
                            <li>
                                <input type="submit" name="action" value="Delete Doctor" />
                            </li>
                        </ul>
                    </div>
                {% elif chosen == "nursesTakingCareOf" %}
                    <h2>Delete Nurse-Patient Relation</h2>
                    <div id="deleteForm">
                        <ul>
                            <li>
                                Nurse ID:
                                <input type=text size=30 name=nurse_id>
                            </li>
                            <li>
                                Patient ID:
                                <input type=text size=30 name=patient_id>
                            </li>
                      
                            <li>
                                <input type="submit" name="action" value="Delete Nurse-Patient Relation" />
                            </li>
                        </ul>
                    </div> 
				{% elif chosen == "nurses" %}
                    <h2>Delete Nurse</h2>
					<div id="deleteForm">
                        <ul>
                            <li>
                                Nurse ID:
                                <input type=text size=30 name=n_id>
                            </li>
                            <li>
                                First Name:
                                <input type=text size=30 name=n_fname>
                            </li>
                            <li>
                                Last Name:
                                <input type=text size=30 name=n_lname>
                            </li>
                            
                            <li>
                                <input type="submit" name="action" value="Delete Nurse" />
                            </li>
                        </ul>
                    </div>
				{% elif chosen == "accounts" %}
                    <h2>Delete Account</h2>
					<div id="deleteForm">
                        <ul>
                            <li>
                                Account ID:
                                <input type=text size=30 name=id>
                            </li>
                            <li>
                                Username:
                                <input type=text size=30 name=usrName>
                            </li>
                            <li>
                                Password:
                                <input type=text size=30 name=psswd>
                            </li>
                            <li>
                                Role:
                                <input type=text size=30 name=userRole>
                            </li>
                            <li>
                                <input type="submit" name="action" value="Delete Accounts" />
                            </li>
                        </ul>
                    </div>
                {% elif chosen == "supervisedNurses" %}
                    <h2>Delete Supervisor</h2>
                    <div id="deleteForm">
                        <ul>
                            <li>
                                Supervisor ID:
                                <input type=text size=30 name=supervisor_id>
                            </li>
                            <li>
                                Super First Name:
                                <input type=text size=30 name=super_fname>
                            </li>
                            <li>
                                Super Last Name:
                                <input type=text size=30 name=super_lname>
                            </li>
                            <li>
                                Supervised ID:
                                <input type=text size=30 name=supervised_id>
                            </li>
                            <li>
                                Supervised First Name:
                                <input type=text size=30 name=ised_fname>
                            </li>
                            <li>
                                Supervised Last Name:
                                <input type=text size=30 name=ised_lname>
                            </li>
                            <li>
                            <li>
                                <input type="submit" name="action" value="Delete Supervisor" />
                            </li>
                        </ul>
                    </div>
                {% elif chosen == "notifications" %}
                    <h2>Delete Notification</h2>
                    <div id="deleteForm">
                        <ul>
                            <li>
                                Notification ID:
                                <input type=text size=30 name=not_id>
                            </li>
                            
                            
                            <li>
                                <input type="submit" name="action" value="Delete Notification" />
                            </li>
                        </ul>
                    </div>
            
                    <h2>Delete All Notifications</h2>
                    <div id="deleteForm">
                        <ul>
                           <li>
                               Type Yes to delete all:
                                <input type=text size=30 name=confirm>
                            </li>
                            <li>
                                <input type="submit" name="action" value="Delete All Notifications" />
                            </li>
                        </ul>
                    </div>
                {% elif chosen == "bloodBank" %}
                    <h2>Delete Blood Bank</h2>
                    <div id="deleteForm">
                        <ul>
                            <li>
                                Blood Bank Name:
                                <input type=text size=30 name=bb_name>
                            </li>
                            <li>
                                Blood Bank ID:
                                <input type=text size=30 name=bb_id>
                            </li>
                            <li>
                                Blood Bank Location:
                                <input type=text size=30 name=bb_location>
                            </li>
                            <li>
                                <input type="submit" name="action" value="Delete Blood Bank" />
                            </li>
                        </ul>
                    </div>
                {% elif chosen == "doctorsTakesCareOf" %}
                    <h2>Delete Doctor-Patient Relation</h2>
                    <div id="deleteForm">
                        <ul>
                            <li>
                                Doctor ID:
                                <input type=text size=30 name=doctor_id>
                            </li>
                            <li>
                                Patient ID:
                                <input type=text size=30 name=patient_id>
                            </li>
                            <li>
                                <input type="submit" name="action" value="Delete Doctor-Patient Relation" />
                            </li>
                        </ul>
                    </div>
                {% elif chosen == "doctorsAssistedBy" %}
                    <h2>Delete Doctor-Nurse Relation</h2>
                    <div id="deleteForm">
                        <ul>
                            <li>
                                Doctor ID:
                                <input type=text size=30 name=doctor_id>
                            </li>
                            <li>
                                Nurse ID:
                                <input type=text size=30 name=nurse_id>
                            </li>
                            <li>
                                <input type="submit" name="action" value="Delete Doctor-Nurse Relation" />
                            </li>
                        </ul>
                    </div>
                {% elif chosen == "donors" %}
                    <h2>Delete Donor</h2>
                    <div id="deleteForm">
                        <ul>
                            <li>
                                Donor ID:
                                <input type=text size=30 name=d_id>
                            </li>
                            <li>
                                Donor First Name:
                                <input type=text size=30 name=d_fname>
                            </li>
                            <li>
                                Donor Last Name:
                                <input type=text size=30 name=d_lname>
                            </li>
                            <li>
                                <input type="submit" name="action" value="Delete Donor" />
                            </li>
                        </ul>
                    </div>
                {% endif %}
            </form>

            <!-- Change Forms -->
            <form action="{{ url_for('change_data') }}" method="post" class=add-entry>
                {% if chosen == "patients" %}
                    <h2>Change Patient Name</h2>
                    <div id="deleteForm">
                        <ul>
                            <li>
                                Patient ID:
                                <input type=text size=30 name=p_id>
                            </li>
                            <li>
                                New First Name:
                                <input type=text size=30 name=p_fNewName>
                            </li>
                            <li>
                                New Last Name:
                                <input type=text size=30 name=p_lNewName>
                            </li>
                            <li>
                                <input type="submit" name="action" value="Change Patient's Name" />
                            </li>
                        </ul>
                    </div>
                    <h2>Change Blood Type</h2>
                    <div id="deleteForm">
                        <ul>
                            <li>
                                Patient ID:
                                <input type=text size=30 name=pB_id>
                            </li>
                            <li>
                                New Blood Type:
                                <input type=text size=3 name=blood_type>
                            </li>
                            <li>
                                <input type="submit" name="action" value="Change Patient's Blood Type" />
                            </li>
                        </ul>
                    </div>
                {% elif chosen == "doctors" %}
                    <h2>Change Doctor Name</h2>
                    <div id="deleteForm">
                        <ul>
                            <li>
                                Current Doctor ID:
                                <input type=text size=30 name=d_id>
                            </li>
                            <li>
                                New First Name:
                                <input type=text size=30 name=d_fname>
                            </li>
                            <li>
                                New Last Name:
                                <input type=text size=30 name=d_lname>
                            </li>
                            <li>
                                <input type="submit" name="action" value="Change Doctor Name" />
                            </li>
                        </ul>
                    </div>
                {% elif chosen == "bloods" %}
                    <h2>Transfer Blood</h2>
                    <div id="deleteForm">
                        <ul>
                            <li>
                                Transfer From:
                                <input type=text size=30 name=transferred_from>
                            </li>
                            <li>
                                Transfer To:
                                <input type=text size=30 name=transferred_to>
                            </li>
                            <li>
                                Blood Type:
                                <input type=text size=30 name=blood_type>
                            </li>
                            <li>
                                Blood Pack Count:
                                <input type=text size=30 name=blood_pack_cnt>
                            </li>
                            <li>
                                <input type="submit" name="action" value="Transfer Blood" />
                            </li>
                        </ul>
                    </div>
                {% elif chosen == "accounts" %}
                    <h2>Change Account Information</h2>
                    <div id="deleteForm">
                        <ul>
                            <li>
                                Current Account ID:
                                <input type=text size=30 name=id>
                            </li>
                            <li>
                                New Username:
                                <input type=text size=30 name=usrName>
                            </li>
                            <li>
                                New Password:
                                <input type=text size=30 name=psswd>
                            </li>
                            <li>
                                New User Role:
                                <input type=text size=30 name=userRole>
                            </li>
                            <li>
                                <input type="submit" name="action" value="Change Account Information" />
                            </li>
                        </ul>
                    </div>
				{% elif chosen == "nurses" %}
                    <h2>Change Nurse Name</h2>
                    <div id="deleteForm">
                        <ul>
                            <li>
                               Current Nurse ID:
                                <input type=text size=30 name=n_id>
                            </li>
                            <li>
                                New Nurse First Name:
                                <input type=text size=30 name=n_fname>
                            </li>
                            <li>
                                New Nurse Last Name:
                                <input type=text size=30 name=n_lname>
                            </li>
                            
                            <li>
                                <input type="submit" name="action" value="Change Nurse Name" />
                            </li>
                        </ul>
                    </div>
                {% elif chosen == "supervisedNurses" %}
                    <h2>Change Supervisor</h2>
                    <div id="deleteForm">
                        <ul>
                            <li>
                                New Supervisor ID:
                                <input type=text size=30 name=supervisor_id>
                            </li>
                            <li>
                                New Super First Name:
                                <input type=text size=30 name=super_fname>
                            </li>
                            <li>
                               New Super Last Name:
                                <input type=text size=30 name=super_lname>
                            </li>
                            <li>
                                Current Supervised ID:
                                <input type=text size=30 name=supervised_id>
                            </li>
                            
                            
                            <li>
                                <input type="submit" name="action" value="Change Supervisor" />
                            </li>
                        </ul>
                    </div>
                
                    <h2>Change Supervisee</h2>
                    <div id="deleteForm">
                        <ul>
                            <li>
                                Current Supervisor ID:
                                <input type=text size=30 name=supervisor_id>
                            </li>
                            <li>
                                New Supervised First Name:
                                <input type=text size=30 name=ised_fname>
                            </li>
                            <li>
                                New Supervised Last Name:
                                <input type=text size=30 name=ised_lname>
                            </li>
                            <li>
                                New Supervised ID:
                                <input type=text size=30 name=ised_id>
                            </li>
                            
                            
                            <li>
                                <input type="submit" name="action" value="Change Supervisee" />
                            </li>
                        </ul>
                    </div>
                {% elif chosen == "nursesTakingCareOf" %}    
                 <h2>Change Patient's Nurse</h2>
                    <div id="deleteForm">
                        <ul>
                            <li>
                                Current Patient ID:
                                <input type=text size=30 name=patient_id>
                            </li>
                            <li>
                                New Nurse ID:
                                <input type=text size=30 name=nurse_id>
                            </li>
                                                     
                            <li>
                                <input type="submit" name="action" value="Change Patient's Nurse" />
                            </li>
                        </ul>
                    </div>
                {% elif chosen == "donors" %}
                    <h2>Change Donors Name</h2>
                    <div id="deleteForm">
                        <ul>
                            <li>
                                Current Donor ID:
                                <input type=text size=30 name=d_id>
                            </li>
                            <li>
                                New Donor First Name:
                                <input type=text size=30 name=d_fname>
                            </li>
                            <li>
                                New Donor Last Name:
                                <input type=text size=30 name=d_lname>
                            </li>
                            <li>
                                <input type="submit" name="action" value="Change Donors Name" />
                            </li>
                        </ul>
                    </div>
                {% elif chosen == "bloodBank" %}
                    <h2>Change Blood Banks Name/Location</h2>
                    <div id="deleteForm">
                        <ul>
                            <li>
                                New Blood Bank Name:
                                <input type=text size=30 name=bb_name>
                            </li>
                            <li>
                                Blood Bank ID:
                                <input type=text size=30 name=bb_id>
                            </li>
                            <li>
                                New Blood Bank Location:
                                <input type=text size=30 name=bb_location>
                            </li>
                            <li>
                                <input type="submit" name="action" value="Change Blood Bank Name" />
                            </li>
                        </ul>
                    </div>
                {% elif chosen == "doctorsTakesCareOf" %}
                    <h2>Change Doctor-Patient Relation</h2>
                    <div id="deleteForm">
                        <ul>
                            <li>
                                New Doctor ID:
                                <input type=text size=30 name=doctor_id>
                            </li>
                            <li>
                                New Patient ID:
                                <input type=text size=30 name=patient_id>
                            </li>
                            <li>
                                <input type="submit" name="action" value="Change Doctor-Patient Relation" />
                            </li>
                        </ul>
                    </div>
                {% elif chosen == "bloods" %}
                    <h2>Transfer Blood</h2>
                    <div id="deleteForm">
                        <ul>
                            <li>
                                Transfer From:
                                <input type=text size=30 name=transferred_from>
                            </li>
                            <li>
                                Transfer To:
                                <input type=text size=30 name=transferred_to>
                            </li>
                            <li>
                                Blood Type:
                                <input type=text size=30 name=blood_type>
                            </li>
                            <li>
                                Blood Pack Count:
                                <input type=text size=30 name=blood_pack_cnt>
                            </li>
                            <li>
                                <input type="submit" name="action" value="Transfer Blood" />
                            </li>
                        </ul>
                    </div>
                {% endif %}
            </form>
        {% endif %}

        <table class=table>
            {% if chosen == "doctors" %}
                <tr>
                    <th>Doctor ID</th>
                    <th>First name</th>
                    <th>Last name</th>
                </tr>
                {% for doctor in doctors %}
                    <tr>
                        <td>{{ doctor.d_id }}</td>
                        <td>{{ doctor.d_fname }}</td>
                        <td>{{ doctor.d_lname}}</td>
                    </tr>
                {% endfor %}
            {% elif chosen == "doctorsTakesCareOf" %}
                <tr>
                    <th>Doctor First Name</th>
                    <th>Doctor Last Name</th>
                    <th>Patient's First Name</th>
                    <th>Patient's Last Name</th>
                </tr>
                {% for doctorTakesCareOf in doctorsTakesCareOf %}
                    <tr>
                        <td>{{ doctorTakesCareOf.d_fname }}</td>
                        <td>{{ doctorTakesCareOf.d_lname }}</td>
                        <td>{{ doctorTakesCareOf.p_fname }}</td>
                        <td>{{ doctorTakesCareOf.p_lname }}</td>
                    </tr>
                {% endfor %}
            {% elif chosen == "doctorsAssistedBy" %}
                <tr>
                    <th>Doctor First Name</th>
                    <th>Doctor Last Name</th>
                    <th>Nurse's First Name</th>
                    <th>Nurse's Last Name</th>
                </tr>
                {% for doctorAssistedBy in doctorsAssistedBy %}
                    <tr>
                        <td>{{ doctorAssistedBy.d_fname }}</td>
                        <td>{{ doctorAssistedBy.d_lname }}</td>
                        <td>{{ doctorAssistedBy.n_fname }}</td>
                        <td>{{ doctorAssistedBy.n_lname }}</td>
                    </tr>
                {% endfor %}
            {% elif chosen == "patients" %}
                <tr>
                    <th>Patient ID</th>
                    <th>First name</th>
                    <th>Last name</th>
                    <th>Blood Type</th>
                </tr>
                {% for patient in patients %}
                    <tr>
                        <td>{{ patient.p_id }}</td>
                        <td>{{ patient.p_fname }}</td>
                        <td>{{ patient.p_lname}}</td>
                        <td>{{ patient.blood_type }}</td>
                    </tr>
                {% endfor %}
            {% elif chosen == "patientsReceiveBlood" %}
                <tr>
                    <th>Patient's First Name</th>
                    <th>Patient's Last Name</th>
                    <th>Blood Bank</th>
                    <th>Received Dated</th>
                    <th>Blood Type</th>
                    <th>Received Amount(ml)</th>
                    <th>Pack Count</th>
                </tr>
                {% for patientReceiveBlood in patientsReceiveBlood %}
                    <tr>
                        <td>{{ patientReceiveBlood.p_fname }}</td>
                        <td>{{ patientReceiveBlood.p_lname }}</td>
                        <td>{{ patientReceiveBlood.bb_name }}</td>
                        <td>{{ patientReceiveBlood.received_date }}</td>
                        <td>{{ patientReceiveBlood.blood_type }}</td>
                        <td>{{ patientReceiveBlood.received_amt }}</td>
                        <td>{{ patientReceiveBlood.pack_cnt }}</td>
                    </tr>
                {% endfor %}
            {% elif chosen == "patientsWhoNeedBlood" %}
                <tr>
                    <th>Patient's First Name</th>
                    <th>Patient's Last Name</th>
                    <th>Patient's Blood Type</th>
                </tr>
                {% for patientWhoNeedBlood in patientsWhoNeedBlood %}
                    <tr>
                        <td>{{ patientWhoNeedBlood.p_fname }}</td>
                        <td>{{ patientWhoNeedBlood.p_lname }}</td>
                        <td>{{ patientWhoNeedBlood.blood_type }}</td>
                    </tr>
                {% endfor %}
            {% elif chosen == "donors" %}
                <tr>
                    <th>Donor ID</th>
                    <th>First name</th>
                    <th>Last name</th>
                </tr>
                {% for donor in donors %}
                    <tr>
                        <td>{{ donor.d_id }}</td>
                        <td>{{ donor.d_fname }}</td>
                        <td>{{ donor.d_lname }}</td>
                    </tr>
                {% endfor %}
            {% elif chosen == "donorFile" %}
                <tr>
                    <th>Donor ID</th>
                    <th>First name</th>
                    <th>Last name</th>
                    <th>Blood Type</th>
                    <th>Condition</th>
                    <th>Blood Amount(ml) Donated</th>
                    <th>Number of Times Donated</th>
                    <th>Date last Donated</th>
                </tr>
                {% for donorFile in donorFiles %}
                    <tr>
                        <td>{{ donorFile.df_id }}</td>
                        <td>{{ donorFile.donor_fname }}</td>
                        <td>{{ donorFile.donor_lname }}</td>
                        <td>{{ donorFile.blood_type }}</td>
                        <td>{{ donorFile.condition }}</td>
                        <td>{{ donorFile.blood_amt_donated }}</td>
                        <td>{{ donorFile.num_times_donate }}</td>
                        <td>{{ donorFile.date_last_donated }}</td>
                    </tr>
                {% endfor %}
            {% elif chosen == "bloodBank" %}
                <tr>
                    <th>Blood Bank ID</th>
                    <th>Blood Bank Name</th>
                    <th>Location</th>
                </tr>
                {% for bloodBank in bloodBanks %}
                    <tr>
                        <td>{{ bloodBank.bb_id }}</td>
                        <td>{{ bloodBank.bb_name }}</td>
                        <td>{{ bloodBank.bb_location }}</td>
                    </tr>
                {% endfor %}
            {% elif chosen == "bloodsTransferred" %}
                <tr>
                    <th>Blood Transferred From</th>
                    <th>Blood Transferred To</th>
                    <th>Blood Type</th>
                    <th>Blood Amount(ml)</th>
                    <th>Blood Pack Count</th>
                    <th>Transfer Date</th>
                </tr>
                {% for bloodTransferred in bloodsTransferred %}
                    <tr>
                        <td>{{ bloodTransferred.to_blood_bank }}</td>
                        <td>{{ bloodTransferred.from_blood_bank }}</td>
                        <td>{{ bloodTransferred.blood_type }}</td>
                        <td>{{ bloodTransferred.blood_amt }}</td>
                        <td>{{ bloodTransferred.blood_pack_cnt }}</td>
                        <td>{{ bloodTransferred.transfer_date }}</td>
                    </tr>
                {% endfor %}
            {% elif chosen == "bloods" %}
                <tr>
                    <th>Blood Bank</th>
                    <th>Blood Type</th>
                    <th>Blood Amount(ml)</th>
                    <th>Number Available</th>
                </tr>
                {% for blood in bloods %}
                    <tr>
                        <td>{{ blood.bb_name }}</td>
                        <td>{{ blood.b_type }}</td>
                        <td>{{ blood.blood_amt }}</td>
                        <td>{{ blood.num_available }}</td>
                    </tr>
                {% endfor %}
            {% elif chosen == "nurses" %}
                <tr>
                    <th>Nurse ID</th>
                    <th>Nurse's First Name</th>
                    <th>Nurse's Last Name</th>
                </tr>
                {% for nurse in nurses %}
                    <tr>
                        <td>{{ nurse.n_id }}</td>
                        <td>{{ nurse.n_fname }}</td>
                        <td>{{ nurse.n_lname }}</td>
                    </tr>
                {% endfor %}
            {% elif chosen == "nursesTakingCareOf" %}
                <tr>
                    <th>Nurse's First Name</th>
                    <th>Nurse's Last Name</th>
                    <th>Patient's First Name</th>
                    <th>Patient's Last Name</th>
                </tr>
                {% for nurseTakingCareOf in nursesTakingCareOf %}
                    <tr>
                        <td>{{ nurseTakingCareOf.n_fname }}</td>
                        <td>{{ nurseTakingCareOf.n_lname }}</td>
                        <td>{{ nurseTakingCareOf.p_fname }}</td>
                        <td>{{ nurseTakingCareOf.p_lname }}</td>
                    </tr>
                {% endfor %}
            {% elif chosen == "supervisedNurses" %}
                <tr>
                    <th>Supervisor's First Name</th>
                    <th>Supervisor's Last Name</th>
                    <th>Supervisee's First Name</th>
                    <th>Supervisee's Last Name</th>
                </tr>
                {% for supervisedNurse in supervisedNurses %}
                    <tr>
                        <td>{{ supervisedNurse.super_fname }}</td>
                        <td>{{ supervisedNurse.super_lname }}</td>
                        <td>{{ supervisedNurse.ised_fname }}</td>
                        <td>{{ supervisedNurse.ised_lname }}</td>
                    </tr>
                {% endfor %}
            {% elif chosen == "accounts" %}
                <tr>
                    <th>Account ID</th>
                    <th>Username</th>
                    <th>Password</th>
                    <th>User Role</th>
                </tr>
                {% for account in accounts %}
                    <tr>
                        <td>{{ account.id }}</td>
                        <td>{{ account.usrName }}</td>
                        <td>{{ account.psswd }}</td>
                        <td>{{ account.userRole }}</td>
                    </tr>
                 {% endfor %}
            {% elif chosen == "notifications" %}
                <tr>
                   
                    <th>Notification ID</th>
                    <th>Message</th>
                    <th>Date</th>
                    <th>Time</th>
                {% for notification in notifications %}
                    <tr>
                        
                        <td>{{ notification.not_id }}</td>
                        <td>{{ notification.message }}</td>
                        <td>{{ notification.m_date }}</td>
                        <td>{{ notification.time }}</td>
                
                    </tr>
                {% endfor %}
                </tr>
                
            {% endif%}
        </table>
    {% endif %}
{% endblock %}